<?xml version="1.0"?>
<launch>
    <arg name="model" default="$(find puckbot_description)/urdf/description.xacro" />

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <rosparam command="load" file="$(find puckbot_control)/config/joints.yaml" />
    <rosparam command="load" file="$(find puckbot_control)/config/diff_drive.yaml"/>

    <node name="puckbot_controller_spawner" pkg="controller_manager" type="spawner"
        args="joint_state_controller
        puckbot_base_controller
        "/>
  
</launch>

