<?xml version ="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mon_second_robot">

<!-- TACHE 12 : Creer ici une macro pour calculer l'inertie
d'une forme cylindrique en fonction de sa densite, de son diametre
et de sa hauteur -->

<xacro:macro name="cylinder_inertial" params="density r h">
    <xacro:property name="mass" value="${densite * pi * r*r * h}"/> 
    <inertial>
        <mass value="${mass}"/>
        <inertia ixx="${max/12*(3*r*r + h*h)}"
                 ixy="0.0"
                 ixz="0.0"
                 iyy="${mass/12*(3*r*r + h*h)}"
                 iyz="0.0"
                 izz="${mass*r*r/2}"/> 
    </inertial>
</xacro:macro>


<!-- FIN DE TACHE -->

</robot>